.feeds {
  width: 60%;
  margin: 0 auto;
}

.feeds__blog {
  margin-bottom: 20px;
  border-bottom: 1px solid crimson;
  display: flex;
  justify-content: space-between;
}
.feeds__post {
  width: 80%;
}

.feeds__header > h1 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
  font-weight: 700;
}

.feeds__header > p {
  font-size: 1.4rem;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
  margin-bottom: 10px;
}

.feeds__content > P {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.2rem;
}
.feeds__delete {
  cursor: pointer;
}
